@import '../../node_modules/normalize.css/normalize.css';
@import './media.scss';
@import './base.scss';
@import './fonts.scss';

.wrapper {
  display: block;
  width: 95vw;
  height: 75vh;
}

#chart {
  background-color: chartreuse;
  display: block;
  width: 100%;
  height: 100%;
}
